<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aousi.springboot.demo.mapper.ArticleAuthorMapper">
  <resultMap id="BaseResultMap" type="org.aousi.springboot.demo.Entities.ArticleAuthor">
    <result column="ARID" jdbcType="INTEGER" property="arid" />
    <result column="UID" jdbcType="INTEGER" property="uid" />
  </resultMap>
  <insert id="insert" parameterType="org.aousi.springboot.demo.Entities.ArticleAuthor">
    insert into article_author (ARID, UID)
    values (#{arid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.aousi.springboot.demo.Entities.ArticleAuthor">
    insert into article_author
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="arid != null">
        ARID,
      </if>
      <if test="uid != null">
        UID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="arid != null">
        #{arid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>