<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aousi.springboot.demo.mapper.COrderMapper">
  <resultMap id="BaseResultMap" type="org.aousi.springboot.demo.Entities.COrder">
    <id column="COID" jdbcType="INTEGER" property="coid" />
    <result column="BREAKFAST" jdbcType="INTEGER" property="breakfast" />
    <result column="BF_MANY" jdbcType="INTEGER" property="bfMany" />
    <result column="LUNCH" jdbcType="INTEGER" property="lunch" />
    <result column="L_MANY" jdbcType="INTEGER" property="lMany" />
    <result column="DINNER" jdbcType="INTEGER" property="dinner" />
    <result column="D_MANY" jdbcType="INTEGER" property="dMany" />
    <result column="O_TIME" jdbcType="DATE" property="oTime" />
    <result column="O_CRT_TIME" jdbcType="TIMESTAMP" property="oCrtTime" />
    <result column="O_EDIT_TIME" jdbcType="TIMESTAMP" property="oEditTime" />
    <result column="UID" jdbcType="INTEGER" property="uid" />
  </resultMap>
  <resultMap id="backendResultMap" type="org.aousi.springboot.demo.Entities.COrder">
    <id column="COID" jdbcType="INTEGER" property="coid" />
    <result column="BREAKFAST" jdbcType="INTEGER" property="breakfast" />
    <result column="BF_MANY" jdbcType="INTEGER" property="bfMany" />
    <result column="LUNCH" jdbcType="INTEGER" property="lunch" />
    <result column="L_MANY" jdbcType="INTEGER" property="lMany" />
    <result column="DINNER" jdbcType="INTEGER" property="dinner" />
    <result column="D_MANY" jdbcType="INTEGER" property="dMany" />
    <result column="O_TIME" jdbcType="DATE" property="oTime" />
    <result column="O_CRT_TIME" jdbcType="TIMESTAMP" property="oCrtTime" />
    <result column="O_EDIT_TIME" jdbcType="TIMESTAMP" property="oEditTime" />
    <result column="UID" jdbcType="INTEGER" property="uid" />
    <association property="user" javaType="org.aousi.springboot.demo.Entities.User">
      <id column="UID" jdbcType="INTEGER" property="uid" />
      <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
      <result column="DEPARTMENT" jdbcType="VARCHAR" property="department"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    COID, BREAKFAST, BF_MANY, LUNCH, L_MANY, DINNER, D_MANY, O_TIME, O_CRT_TIME,O_EDIT_TIME, UID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from canteen_order
    where COID = #{coid,jdbcType=INTEGER}
  </select>

  <select id="selectByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from canteen_order
    where UID = #{uid,jdbcType=INTEGER}
  </select>

  <select id="B_selectAll" resultMap="backendResultMap">
    select co.*,u.UID,u.USERNAME,u.DEPARTMENT
    from canteen_order co
    left join user u on u.uid = co.uid
  </select>

  <select id="B_selectByUid" parameterType="java.lang.Integer" resultMap="backendResultMap">
    select co.*,u.UID,u.USERNAME
    from canteen_order co
    left join user u on u.uid = co.uid
    where co.uid = #{uid}
  </select>

  <select id="B_selectByDate" parameterType="java.lang.Integer" resultMap="backendResultMap">
    select co.*,u.UID,u.USERNAME
    from canteen_order co
    left join user u on u.uid = co.uid
    where co.oTime = #{oTime}
  </select>


  <select id="orderIsExistByDate" parameterType="java.util.Date" resultType="java.lang.Integer">
    select count(*)
    from canteen_order
    where  O_TIME = #{oTime}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from canteen_order
    where COID = #{coid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.aousi.springboot.demo.Entities.COrder" useGeneratedKeys="true">
    insert into canteen_order (COID, BREAKFAST, BF_MANY, 
      LUNCH, L_MANY, DINNER, 
      D_MANY, O_TIME, O_CRT_TIME, 
      UID)
    values (#{coid,jdbcType=INTEGER}, #{breakfast,jdbcType=INTEGER}, #{bfMany,jdbcType=INTEGER}, 
      #{lunch,jdbcType=INTEGER}, #{lMany,jdbcType=INTEGER}, #{dinner,jdbcType=INTEGER}, 
      #{dMany,jdbcType=INTEGER}, #{oTime,jdbcType=DATE}, #{oCrtTime,jdbcType=TIMESTAMP},
      #{uid,jdbcType=INTEGER})
  </insert>

  <insert id="ListInsert" parameterType="java.util.List" useGeneratedKeys="true">
    insert into canteen_order (BREAKFAST, BF_MANY,
    LUNCH, L_MANY, DINNER,
    D_MANY, O_TIME, O_CRT_TIME,
    UID)
    values
    <foreach collection="list" item="COrder" index="index"  separator="," >
      (#{COrder.breakfast,jdbcType=INTEGER}, #{COrder.bfMany,jdbcType=INTEGER},
      #{COrder.lunch,jdbcType=INTEGER}, #{COrder.lMany,jdbcType=INTEGER}, #{COrder.dinner,jdbcType=INTEGER},
      #{COrder.dMany,jdbcType=INTEGER}, #{COrder.oTime,jdbcType=DATE}, #{COrder.oCrtTime,jdbcType=TIMESTAMP},
      #{COrder.uid,jdbcType=INTEGER})
    </foreach>

  </insert>


  <!--<insert id="ListInsert" parameterType="java.util.List" useGeneratedKeys="true">-->
    <!--insert into canteen_order-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="coid != null">-->
        <!--COID,-->
      <!--</if>-->
      <!--<if test="breakfast != null">-->
        <!--BREAKFAST,-->
      <!--</if>-->
      <!--<if test="bfMany != null">-->
        <!--BF_MANY,-->
      <!--</if>-->
      <!--<if test="lunch != null">-->
        <!--LUNCH,-->
      <!--</if>-->
      <!--<if test="lMany != null">-->
        <!--L_MANY,-->
      <!--</if>-->
      <!--<if test="dinner != null">-->
        <!--DINNER,-->
      <!--</if>-->
      <!--<if test="dMany != null">-->
        <!--D_MANY,-->
      <!--</if>-->
      <!--<if test="oTime != null">-->
        <!--O_TIME,-->
      <!--</if>-->
      <!--<if test="oCrtTime != null">-->
        <!--O_CRT_TIME,-->
      <!--</if>-->
      <!--<if test="uid != null">-->
        <!--UID,-->
      <!--</if>-->
    <!--</trim>-->
    <!--values-->
    <!--<foreach collection="list" item="COrder" index="index" separator="," >-->
      <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
        <!--<if test="coid != null">-->
          <!--#{COrder.coid,jdbcType=INTEGER},-->
        <!--</if>-->
        <!--<if test="breakfast != null">-->
          <!--#{COrder.breakfast,jdbcType=INTEGER},-->
        <!--</if>-->
        <!--<if test="bfMany != null">-->
          <!--#{COrder.bfMany,jdbcType=INTEGER},-->
        <!--</if>-->
        <!--<if test="lunch != null">-->
          <!--#{COrder.lunch,jdbcType=INTEGER},-->
        <!--</if>-->
        <!--<if test="lMany != null">-->
          <!--#{COrder.lMany,jdbcType=INTEGER},-->
        <!--</if>-->
        <!--<if test="dinner != null">-->
          <!--#{COrder.dinner,jdbcType=INTEGER},-->
        <!--</if>-->
        <!--<if test="dMany != null">-->
          <!--#{COrder.dMany,jdbcType=INTEGER},-->
        <!--</if>-->
        <!--<if test="oTime != null">-->
          <!--#{COrder.oTime,jdbcType=DATE},-->
        <!--</if>-->
        <!--<if test="oCrtTime != null">-->
          <!--#{COrder.oCrtTime,jdbcType=TIMESTAMP},-->
        <!--</if>-->
        <!--<if test="uid != null">-->
          <!--#{COrder.uid,jdbcType=INTEGER},-->
        <!--</if>-->
      <!--</trim>-->
    <!--</foreach>-->

  <!--</insert>-->

  <insert id="insertSelective" parameterType="org.aousi.springboot.demo.Entities.COrder" useGeneratedKeys="true">
    insert into canteen_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="coid != null">
        COID,
      </if>
      <if test="breakfast != null">
        BREAKFAST,
      </if>
      <if test="bfMany != null">
        BF_MANY,
      </if>
      <if test="lunch != null">
        LUNCH,
      </if>
      <if test="lMany != null">
        L_MANY,
      </if>
      <if test="dinner != null">
        DINNER,
      </if>
      <if test="dMany != null">
        D_MANY,
      </if>
      <if test="oTime != null">
        O_TIME,
      </if>
      <if test="oCrtTime != null">
        O_CRT_TIME,
      </if>
      <if test="uid != null">
        UID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="coid != null">
        #{coid,jdbcType=INTEGER},
      </if>
      <if test="breakfast != null">
        #{breakfast,jdbcType=INTEGER},
      </if>
      <if test="bfMany != null">
        #{bfMany,jdbcType=INTEGER},
      </if>
      <if test="lunch != null">
        #{lunch,jdbcType=INTEGER},
      </if>
      <if test="lMany != null">
        #{lMany,jdbcType=INTEGER},
      </if>
      <if test="dinner != null">
        #{dinner,jdbcType=INTEGER},
      </if>
      <if test="dMany != null">
        #{dMany,jdbcType=INTEGER},
      </if>
      <if test="oTime != null">
        #{oTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oCrtTime != null">
        #{oCrtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="org.aousi.springboot.demo.Entities.COrder">
    update canteen_order
    <set>
      <if test="breakfast != null">
        BREAKFAST = #{breakfast,jdbcType=INTEGER},
      </if>
      <if test="bfMany != null">
        BF_MANY = #{bfMany,jdbcType=INTEGER},
      </if>
      <if test="lunch != null">
        LUNCH = #{lunch,jdbcType=INTEGER},
      </if>
      <if test="lMany != null">
        L_MANY = #{lMany,jdbcType=INTEGER},
      </if>
      <if test="dinner != null">
        DINNER = #{dinner,jdbcType=INTEGER},
      </if>
      <if test="dMany != null">
        D_MANY = #{dMany,jdbcType=INTEGER},
      </if>
      <if test="oTime != null">
        O_TIME = #{oTime,jdbcType=DATE},
      </if>
      <if test="oCrtTime != null">
        O_CRT_TIME = #{oCrtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        UID = #{uid,jdbcType=INTEGER},
      </if>
    </set>
    where COID = #{coid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.aousi.springboot.demo.Entities.COrder">
    update canteen_order
    set BREAKFAST = #{breakfast,jdbcType=INTEGER},
      BF_MANY = #{bfMany,jdbcType=INTEGER},
      LUNCH = #{lunch,jdbcType=INTEGER},
      L_MANY = #{lMany,jdbcType=INTEGER},
      DINNER = #{dinner,jdbcType=INTEGER},
      D_MANY = #{dMany,jdbcType=INTEGER},
      O_TIME = #{oTime,jdbcType=DATE},
      O_CRT_TIME = #{oCrtTime,jdbcType=TIMESTAMP},
      UID = #{uid,jdbcType=INTEGER}
    where COID = #{coid,jdbcType=INTEGER}
  </update>
</mapper>