<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aousi.springboot.demo.mapper.CRecordsMapper">
  <resultMap id="BaseResultMap" type="org.aousi.springboot.demo.Entities.CRecords">
    <id column="CRID" jdbcType="INTEGER" property="crid" />
    <result column="COID" jdbcType="INTEGER" property="coid" />
    <result column="CCID" jdbcType="INTEGER" property="ccid" />
    <result column="UID" jdbcType="INTEGER" property="uid" />
    <result column="CR_EDT_TIME" jdbcType="TIMESTAMP" property="crEdtTime" />
    <result column="CR_CRT_TIME" jdbcType="TIMESTAMP" property="crCrtTime" />
  </resultMap>

  <resultMap id="webCRList" type="org.aousi.springboot.demo.Entities.CRecords">
    <id column="CRID" jdbcType="INTEGER" property="crid" />
    <result column="COID" jdbcType="INTEGER" property="coid" />
    <result column="CCID" jdbcType="INTEGER" property="ccid" />
    <result column="UID" jdbcType="INTEGER" property="uid" />
    <result column="CR_EDT_TIME" jdbcType="TIMESTAMP" property="crEdtTime" />
    <result column="CR_CRT_TIME" jdbcType="TIMESTAMP" property="crCrtTime" />
      <association property="co" javaType="org.aousi.springboot.demo.Entities.COrder">
          <id property="coid" column="COID"/>
          <result column="BREAKFAST" jdbcType="INTEGER" property="breakfast" />
          <result column="BF_MANY" jdbcType="INTEGER" property="bfMany" />
          <result column="LUNCH" jdbcType="INTEGER" property="lunch" />
          <result column="L_MANY" jdbcType="INTEGER" property="lMany" />
          <result column="DINNER" jdbcType="INTEGER" property="dinner" />
          <result column="D_MANY" jdbcType="INTEGER" property="dMany" />
          <result column="O_TIME" jdbcType="TIMESTAMP" property="oTime" />
      </association>
      <association property="cc" javaType="org.aousi.springboot.demo.Entities.CCompleted">
          <id property="ccid" column="CCID"/>
          <result column="BF_COMPLETE" jdbcType="INTEGER" property="breakfast" />
          <result column="L_COMPLETE" jdbcType="INTEGER" property="lunch" />
          <result column="D_COMPLETE" jdbcType="INTEGER" property="dinner" />
      </association>
  </resultMap>

  <sql id="Base_Column_List">
    CRID, COID, CCID, UID, CR_EDT_TIME, CR_CRT_TIME
  </sql>

    <select id="userCRList" parameterType="java.lang.Integer" resultMap="webCRList">
      SELECT cr.CRID
      ,co.COID
      ,co.BREAKFAST
      ,co.BF_MANY
      ,co.LUNCH
      ,co.L_MANY
      ,co.DINNER
      ,co.D_MANY
      ,co.O_TIME
      ,cc.CCID
      ,cc.BREAKFAST AS BF_COMPLETE
      ,cc.LUNCH AS L_COMPLETE
      ,cc.DINNER AS D_COMPLETE
      , cr.CR_EDT_TIME
      FROM canteen_records cr ,canteen_order co ,canteen_completed cc
      WHERE cr.COID=co.COID AND cr.CCID = cc.CCID AND co.UID = #{uid,jdbcType=INTEGER}
    </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from canteen_records
    where CRID = #{crid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from canteen_records
    where CRID = #{crid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.aousi.springboot.demo.Entities.CRecords">
    insert into canteen_records (CRID, COID, CCID, 
      UID, CR_EDT_TIME, CR_CRT_TIME
      )
    values (#{crid,jdbcType=INTEGER}, #{coid,jdbcType=INTEGER}, #{ccid,jdbcType=INTEGER}, 
      #{uid,jdbcType=INTEGER}, #{crEdtTime,jdbcType=TIMESTAMP}, #{crCrtTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.aousi.springboot.demo.Entities.CRecords">
    insert into canteen_records
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="crid != null">
        CRID,
      </if>
      <if test="coid != null">
        COID,
      </if>
      <if test="ccid != null">
        CCID,
      </if>
      <if test="uid != null">
        UID,
      </if>
      <if test="crEdtTime != null">
        CR_EDT_TIME,
      </if>
      <if test="crCrtTime != null">
        CR_CRT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="crid != null">
        #{crid,jdbcType=INTEGER},
      </if>
      <if test="coid != null">
        #{coid,jdbcType=INTEGER},
      </if>
      <if test="ccid != null">
        #{ccid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="crEdtTime != null">
        #{crEdtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crCrtTime != null">
        #{crCrtTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.aousi.springboot.demo.Entities.CRecords">
    update canteen_records
    <set>
      <if test="coid != null">
        COID = #{coid,jdbcType=INTEGER},
      </if>
      <if test="ccid != null">
        CCID = #{ccid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        UID = #{uid,jdbcType=INTEGER},
      </if>
      <if test="crEdtTime != null">
        CR_EDT_TIME = #{crEdtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crCrtTime != null">
        CR_CRT_TIME = #{crCrtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CRID = #{crid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.aousi.springboot.demo.Entities.CRecords">
    update canteen_records
    set COID = #{coid,jdbcType=INTEGER},
      CCID = #{ccid,jdbcType=INTEGER},
      UID = #{uid,jdbcType=INTEGER},
      CR_EDT_TIME = #{crEdtTime,jdbcType=TIMESTAMP},
      CR_CRT_TIME = #{crCrtTime,jdbcType=TIMESTAMP}
    where CRID = #{crid,jdbcType=INTEGER}
  </update>
</mapper>