<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aousi.springboot.demo.mapper.RoleModuleMapper">
  <resultMap id="BaseResultMap" type="org.aousi.springboot.demo.Entities.RoleModule">
    <result column="RID" jdbcType="INTEGER" property="rid" />
    <result column="MID" jdbcType="INTEGER" property="mid" />
  </resultMap>
  <insert id="insert" parameterType="org.aousi.springboot.demo.Entities.RoleModule">
    insert into role_module (RID, MID)
    values (#{rid,jdbcType=INTEGER}, #{mid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.aousi.springboot.demo.Entities.RoleModule">
    insert into role_module
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        RID,
      </if>
      <if test="mid != null">
        MID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>