<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aousi.springboot.demo.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="org.aousi.springboot.demo.Entities.UserRole">
    <result column="UID" jdbcType="INTEGER" property="uid" />
    <result column="RID" jdbcType="INTEGER" property="rid" />
  </resultMap>
  <insert id="insert" parameterType="org.aousi.springboot.demo.Entities.UserRole">
    insert into user_role (UID, RID)
    values (#{uid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER})
  </insert>

  <update id="changeRole" >
    updata user_role
    set RID = #{rid}
    where UID = #{uid}
  </update>


  <insert id="insertSelective" parameterType="org.aousi.springboot.demo.Entities.UserRole">
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        UID,
      </if>
      <if test="rid != null">
        RID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>