<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.title}"></title>
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
    <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <style>
        .myfooter {
            background-color: #5f5f5f;
        }

        .myfooter a,p{
            margin-left: 10px;
        }

        .myfooter div{
            margin-top: 30px;
        }

        .postInfoSpan {
            margin-left: 10px;
            margin-right: 5px;
        }
    </style>
</head>
<script th:src="@{/js/jquery.min.js}"></script>
<script  th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/publicJS.js}"></script>

<!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
<!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
<body>

<div class="nav navbar-default mynav">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand"><span id="home" style="font-size: 20px"><span class="glyphicon glyphicon-home"></span>  综合应用</span></div>

            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#LinkPart"
                    aria-controls="bs-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="LinkPart" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" Role="button" aria-haspopup="true"
                       aria-expanded="false">文章<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/articleList">文章列表</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/newArticle">发文</a></li>
                        <li><a href="/myArticle">我的文章</a></li>
                        <li><a href="/recycledArticle">回收站</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" Role="button" aria-haspopup="true"
                       aria-expanded="false">物品<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a id="myItem" href="#">我的物品</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a id="applyItem" href="#">领用申请</a></li>
                        <li><a id="applyRecord" href="#">申请记录</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" Role="button" aria-haspopup="true"
                       aria-expanded="false">食堂应用<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a id="order" href="#">用餐预定</a></li>
                        <li><a id="userOrders" href="#">订餐详情</a></li>
                        <li><a id="userCR" href="#">订餐记录</a></li>
                    </ul>
                </li>
            </ul>
            <input id="nameNav" type="hidden" th:value="${name}" >
            <ul class="nav navbar-nav navbar-right" id="userNav">
                <li><a href="/login">LOGIN or SIGN UP</a></li>
            </ul>
        </div>
    </div>
</div>


<main style="width: 960px;margin: 0 auto">
    <div class="container" style="width: inherit">
        <div>
            <ol class="breadcrumb">
                <li><a href="/home">首页</a></li>
                <li><a href="/articleList">文章列表</a></li>
                <li class="active">文章名字</li>
            </ol>
        </div>
        <div class="part1" style="text-align: center">
            <h3 th:text="${article.title}"></h3><br>
            <span class="postInfoSpan">作者：</span><span class="postInfoSpan" id="author"
                                                       th:text="${article.author}"></span>
            <span class="postInfoSpan">发布日期：</span><span class="postInfoSpan" id="publishDate"
                                                         th:text="${article.publishTime}" ></span>
            <input type="hidden" th:value="${article.publishTime}" id="hiddenDate">
            <hr>
        </div>
        <div class="part2">
            <div id="context"  style="min-height: 700px" th:utext="${article.context}">
                <p></p>
            </div>
            <div style="text-align: right">
                <button class="btn btn-link" onclick="history.back(-1)"> 返回</button>
            </div>
        </div>
    </div>
</main>
<footer class="myfooter" style="height: 150px">
    <div class="container" style="text-align: left">
        <div>
            <a href="#">PART 1</a>
            <a href="#">PART 2</a>
            <a href="#">PART 3</a>
        </div>
        <br><br>
        <p>版权声明</p>
    </div>

</footer>

</body>
<script>

    $(function () {
        var dateStr = $('#hiddenDate').val();
        $('#publishDate').html(dateFmt_yyMMdd_hhmmss(dateStr));
    });

</script>
</html>