<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
    <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <style>
        .myfooter {
            background-color: #5f5f5f;
        }

        .myfooter a,p{
            margin-left: 10px;
        }

        .myfooter div{
            margin-top: 30px;
        }

        .postInfoSpan {
            margin-left: 10px;
            margin-right: 5px;
        }
    </style>
</head>
<script th:src="@{/js/jquery.min.js}"></script>
<script  th:src="@{/js/bootstrap.min.js}"></script>
<!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
<!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
<body>

<div class="nav navbar-default mynav">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand"><span style="font-size: 39px">Index</span></div>

            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#LinkPart"
                    aria-controls="bs-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="LinkPart" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" Role="button" aria-haspopup="true"
                       aria-expanded="false">文章<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/articleList">文章列表</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/newArticle">发文</a></li>
                        <li><a href="/myArticle">我的文章</a></li>
                        <li><a href="/recycledArticle">回收站</a></li>
                    </ul>
                </li>
                <li><a href="#">PART 3</a></li>
                <li class="dropdown">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" Role="button" aria-haspopup="true"
                       aria-expanded="false">SELECT<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">PART 1</a></li>
                        <li><a href="#">PART 2</a></li>
                        <li><a href="#">PART 3</a></li>
                    </ul>
                </li>
            </ul>
            <input id="nameNav" type="hidden" th:value="${name}" >
            <ul class="nav navbar-nav navbar-right" id="userNav">
                <li><a href="#">LOGIN or SIGN UP</a></li>
            </ul>
        </div>
    </div>
</div>


<main style="width: 960px;margin: 0 auto">
    <div class="container" style="width: inherit">
        <div class="page-header col-md-12 col-sm-12 col-xs-12">
            <h1>修改密码 <small>edit password</small></h1>
        </div>
        <div id="msgDiv"class="col-md-12 col-sm-12 col-xs-12" style="height: auto"></div>
        <form class="form-horizontal" id="userForm" style="height: 600px">
            <input type="hidden" id="uid" th:value="${user.uid}">
            <input type="hidden" id="username" th:value="${user.username}">
            <div class="form-group col-md-12 ">
                <label class="col-md-2">旧密码</label>
                <div class="col-md-10">
                    <input type="password" name="oldPw" class="form-control updateData" id="oldPw"></input>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-md-2">新密码</label>
                <div class="col-md-10">
                    <input type="password" class="form-control  updateData" name="neoPw" id="neoPw"></input>
                </div>
            </div>
                <div class="form-group col-md-12">
                    <label class="col-md-2">确认密码</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control  updateData" name="confirmNeo" id="confirmNeo"></input>
                    </div>
                </div>
        </form>
        <div style="text-align: center">
            <button class="btn btn-primary btnDiv" data-toggle="modal" data-target="#confirm">submit</button>
        </div>
    </div>
</main>


<div class="modal fade" tabindex="-1" role="dialog" id="confirm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>确认要保存修改吗？&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveChange()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<footer class="myfooter" style="height: 150px">
    <div class="container" style="text-align: left">
        <div>
            <a href="#">PART 1</a>
            <a href="#">PART 2</a>
            <a href="#">PART 3</a>
        </div>
        <br><br>
        <p>版权声明</p>
    </div>

</footer>

</body>
<script>

    var changeFlag = false;
    var new_old_pwFlag = false;
    var new_new_pwFlag = false;

    $(function () {
        var data = window.sessionStorage.getItem('name');
        if (data !=""){
            $('#userNav').html('<li class="dropdown">\n' +
                ' <a href="#"  class="dropdown-toggle" data-toggle="dropdown" Role="button" aria-haspopup="true"\n' +
                ' aria-expanded="false" >'+data+'<span class="caret"></span></a>\n' +
                ' <ul class="dropdown-menu">\n' +
                ' <li><a href="/user/getPerson.do?name='+data+'">个人信息</a></li>\n' +
                ' <li><a href="/user/editPerson.do?name='+data+'">修改个人信息</a></li>\n' +
                ' <li><a href="/user/editPassword.do?name='+data+'">修改密码</a></li>\n' +
                ' </ul>\n' +
                ' </li>' +
                '<li><a href="#" onclick="logout()">log out</a></li>')
        }

        $('#confirmNeo').change(function (e) {
            var i = $(this).val();
            if ($('#neoPw').val() != i){
                var info = '<div class="alert alert-warning " role="alert">' +
                    ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                    '新密码前后输入不一致！请修改！</div>';
                $('#msgDiv').append(info);
                setTimeout(function (e) {
                    $('.alert').alert('close');
                },3000);
                new_new_pwFlag =false;
            }else {
                new_new_pwFlag =true;
            }
        });

        $('#neoPw').change(function (e) {
            var i = $(this).val();
            if ($('#oldPw').val() == i){
                var info = '<div class="alert alert-warning fade in" role="alert">' +
                    ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                    '新密码和旧密码不能相同！请修改！</div>';
                $('#msgDiv').append(info);
                setTimeout(function (e) {
                    $('.alert').alert('close');
                },3000);
                new_old_pwFlag =false;
            }else {
                new_old_pwFlag =true;
            }
        });
    });

    function saveChange() {
        var user = $('#userForm').serializeArray();
        var data = convertToJson(user);
        var jsons = JSON.stringify(data);

        // if ($('#neoPw').val() == $('#oldPw').val()){
        //     var info = '<div class="alert alert-warning " role="alert">' +
        //         ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
        //         '新密码和旧密码不能相同！请修改！</div>';
        //     new_old_pwFlag =false;
        //     $('#msgDiv').append(info);
        // }else {
        //     new_old_pwFlag =true;
        // }

        // if ($('#neoPw').val() != $('#confirmNeo').val()){
        //     var info = '<div class="alert alert-warning " role="alert">' +
        //         ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
        //         '新密码前后输入不一致！请修改！</div>';
        //
        //     $('#msgDiv').append(info);
        //     new_new_pwFlag =false;
        // }else {
        //     new_new_pwFlag =true;
        // }

        if (new_old_pwFlag && new_new_pwFlag){
            changeFlag = true;
        }else {
            changeFlag = false;
        }


        if (changeFlag){
            $.ajax({
                url: '/user/updatePassword.do',
                type: 'POST',
                dataType: 'JSON',
                contentType: "application/json;charset=utf-8",
                data:jsons,
                success:function (data) {
                    if (data.statusCode == 200){
                        $('#confirm').modal('hide');
                        var info = '<div class="alert alert-success " role="alert">' +
                            ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                            ''+data.msg+'</div>';
                        $('#msgDiv').append(info);
                    }else {
                        $('#confirm').modal('hide');
                        var info = '<div class="alert alert-danger " role="alert">' +
                            ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                            ''+data.msg+'</div>';
                        $('#msgDiv').append(info);
                    }
                    setTimeout(function (e) {
                        $('.alert').alert('close');
                    },3000);
                    changeFlag = false;
                }
            })
        }else {
            setTimeout(function (e) {
                $('.alert').alert('close');
            },2500);
            $('#confirm').modal('hide');
            changeFlag = false;
        }
    }

    function convertToJson(str) {
        var obj ={"uid":$('#uid').val(),"name":$('#username').val()};
        for (var i in str){
            obj[str[i].name]=str[i]['value'];
        }
        return obj;
    }

    function logout() {
        window.sessionStorage.removeItem('name');
        window.location.href='/login'
    }
</script>
</html>