<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
          <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-table.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-select.min.css">
    <style>
        .sidebar{
            position: fixed;
            display: block;
            width: inherit;
            top: 51px;
            left: 0px;
            z-index: 1000;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
        }
        .navbar-sidebar{
            margin-right: -21px;
            margin-bottom: 20px;
            margin-left: -20px;
        }

        .navbar-nav li:hover{
            background-color: #e0e0e0;
        }
        .ctrlCompent {
            margin:10px 30px;
        }
    </style>
</head>
<script th:src="@{/js/jquery.min.js}"></script>
<script  th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/publicJS.js}"></script>
<script th:src="@{/js/bootstrap-table.min.js}"></script>
<script th:src="@{/js/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
<script src="/static/js/bootstrap-select.min.js"></script>
<script src="/static/js/bootstrap-table.min.js"></script>
<script src="/static/js/bootstrap-table-zh-CN.min.js"></script>
<!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
        <!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
<body>
<nav class="nav navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand" style="width: 200px;"><span style="font-size: 20px" onclick="goToCtrlHome()">系统后台</span></div>

            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#LinkPart"
                    aria-controls="bs-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="LinkPart" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="#" onclick="goToPersonCtrl()" >人员管理</a></li>
                <li><a href="#" onclick="goToCanteenCtrl()">食堂管理</a></li>
                <li><a href="#">文章管理</a></li>
                <li><a href="#">物品管理</a></li>
                <li><a href="#" onclick="goToSettingCtrl()">系统设置</a></li>
                <!--<li class="dropdown">-->
                    <!--<a href="#"  class="dropdown-toggle" data-toggle="dropdown" Role="button" aria-haspopup="true"-->
                       <!--aria-expanded="false">系统设置<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">权限设置</a></li>-->
                        <!--<li><a href="#">单位、部门设置</a></li>-->
                        <!--&lt;!&ndash;<li><a href="#">预留选项</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="name" th:text="${user.username}"></a></li>
                <li><a href="/">返回前台</a></li>
                <li><a onclick="logout()" href="#">退出</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="min-height: 768px;width: 100%;padding-left: 10px">
    <div class="row" style="height: auto">
        <div class="col-md-2 col-sm-2 col-xs-2 visible-md-block visible-lg-block" style="background-color: silver">
            <div class="nav sidebar">
                <div class="container-fluid">
                    <div id="ToolPart" class="collapse navbar-collapse">
                        <ul class="nav navbar-sidebar">
                            <li><a href="#userList">人员列表</a></li>
                            <li><a href="#checkRegisters">审核注册</a></li>
                            <!--<li><a href="#addUser">添加人员</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div CLASS="col-md-10 col-sm-10 col-xs-10" style="border-left: gainsboro solid 1px ;">
            <div id="userList" class="row ctrlCompent">
                <div  class="page-header col-md-12 col-sm-12 col-xs-12">
                    <h1>人员列表 <small>User List</small></h1>
                </div>
                <div id="msgDiv1"class="col-md-12 col-sm-12 col-xs-12" style="height: auto"></div>
                <table id="personTable"></table>
            </div>
            <div  id="checkRegisters" class="row ctrlCompent">
                <div class="page-header col-md-12 col-sm-12 col-xs-12">
                    <h1>审核注册 <small>Check Registers</small></h1>
                </div>
                <div id="msgDiv2"class="col-md-12 col-sm-12 col-xs-12" style="height: auto"></div>
                <table id="registerTable"></table>
            </div>
            <!--<div id="addUser"  class="row ctrlCompent">-->
                <!--<div class="page-header col-md-12 col-sm-12 col-xs-12">-->
                    <!--<h1>添加用户 <small>New User</small></h1>-->
                <!--</div>-->
            <!--</div>-->
            <div style="clear:both;height:0;font-size: 1px;line-height: 0px;"></div>
        </div>
    </div>

    <!-- 修改用户弹出窗 -->
    <div id="editUser" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">修改用户资料</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                    <form class="form-horizontal" id="userForm">

                        <div class="form-group disabled col-md-12">
                            <label class="col-md-2">uid</label>
                            <div class="col-md-10">
                                <input id="uid" name="uid" class="form-control"  disabled></input>
                            </div>
                        </div>

                        <div class="form-group disabled col-md-12">
                            <label class="col-md-2">username</label>
                            <div class="col-md-10">
                                <input id="username" name="username" class="form-control" disabled></input>
                            </div>
                        </div>

                        <div class="form-group col-md-12 ">
                            <label class="col-md-2">nickname</label>
                            <div class="col-md-10">
                                <input type="text" name="nickname" class="form-control updateData" id="nickname" ></input>
                                <input type="hidden" id="getNick" >
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2">area</label>
                            <div class="col-md-4">
                                <select class="selectpicker  updateData" name="area" id="area"  data-width="fit"></select>
                                <input type="hidden" id="getArea" >
                            </div>
                            <label class="col-md-2">department</label>
                            <div class="col-md-4">
                                <select class="selectpicker  updateData" id="department" name="department" data-width="fit"></select>
                                <input type="hidden" id="getDept">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2">position</label>
                            <div class="col-md-10">
                                <input id="position" class="form-control  updateData" name="position"></input>
                                <input type="hidden" id="getPosi">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2">tel</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control  updateData" id="tel" name="tel"></input>
                                <input type="hidden" id="getTel">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2">phone</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control updateData" id="phone" name="phone"></input>
                                <input type="hidden" id="getPhone">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2">email</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control updateData" id="emil" name="email"></input>
                                <input type="hidden" id="getEmail">
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveChange()">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- 修改用户组 -->
    <div class="modal fade" tabindex="-1" role="dialog" id="editRole">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">修改用户组</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form  class="form-horizontal" id="rolesForm">
                            <div class="form-group col-md-12">
                                <label class="col-md-2">role</label>
                                <div class="col-md-4">
                                    <select class="selectpicker  updateData" name="role" id="roles"  data-width="fit"></select>
                                    <input type="hidden" id="getRole" >
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="ChangeRole()">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
</body>
<script>
    var changeFlag = false;
    var uuid = 0;


    $(function () {

        changeFlag = false;

        getSelectData();

        $('#department').on('refreshed.bs.select',function (e) {
            $('#department').selectpicker('val',$('#getDept').val());
        })
        $('#area').on('refreshed.bs.select',function (e) {
            $('#area').selectpicker('val',$('#getArea').val());
        });

        $('#roles').on('refreshed.bs.select',function (e) {
            $('#roles').selectpicker('val',$('#getRole').val());
        });

        $('#personTable').on('click-row.bs.table',function (field,row) {
            $('#uid').val(row.uid);
            $('#username').val(row.username);
            $('#nickname').val(row.nickname);
            $('#area').selectpicker('val',row.area);
            $('#department').selectpicker('val',row.department);
            $('#position').val(row.position);
            $('#tel').val(row.tel);
            $('#phone').val(row.phone);
            $('#emil').val(row.email);
            $('#roles').selectpicker('val',row.role);
        });
        changeFlag = confirmChange();
    });




    $('#personTable').bootstrapTable({
        url: '/user/getAllUser.do',         //请求后台的URL（*）
        method: 'get',                      //请求方式（*）
        toolbar: '#toolbar',                //工具按钮用哪个容器
        striped: true,                      //是否显示行间隔色
        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pagination: true,                   //是否显示分页（*）
        sortable: true,                     //是否启用排序
        sortName:"UID",
        sortOrder: "asc",                   //排序方式
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        pageNumber:1,                       //初始化加载第一页，默认第一页
        pageSize: 20,                       //每页的记录行数（*）
        pageList: [20, 35, 50, 100],        //可供选择的每页的行数（*）
        queryParams:  function (params) {
            //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
            var temp = {
                rows: params.limit,                         //页面大小
                page: (params.offset / params.limit) + 1,   //页码
                sort: params.sort,      //排序列名
                sortOrder: params.order //排位命令（desc，asc）
            };
            return temp;
        },//传递参数（*）
        // search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
        // strictSearch: true,
        showColumns: true,                  //是否显示所有的列
        showRefresh: true,                  //是否显示刷新按钮
        minimumCountColumns: 2,             //最少允许的列数
        clickToSelect: true,                //是否启用点击选中行
        height: 1000,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
        uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
        showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
        cardView: false,                    //是否显示详细视图
        detailView: false,                   //是否显示父子表
        icons:{
            paginationSwitchDown: 'glyphicon-collapse-down icon-chevron-down',
            paginationSwitchUp: 'glyphicon-collapse-up icon-chevron-up',
            refresh: 'glyphicon-refresh icon-refresh',
            toggle: 'glyphicon-list-alt icon-list-alt',
            columns: 'glyphicon-th icon-th',
            detailOpen: 'glyphicon-plus icon-plus',
            detailClose: 'glyphicon-minus icon-minus'
        },
        columns:[
            {
                checkbox: true
            }, {
                field: 'uid',
                title: 'UID'
            }, {
                field: 'username',
                title: '用户名'
            }, {
                field: 'nickname',
                title: '昵称'
            },  {
                field: 'position',
                title: '职位'
            }, {
                field: 'area',
                title: '区域'
            }, {
                field: 'department',
                title: '部门'
            }, {
                field: 'tel',
                title: '座机号'
            }, {
                field: 'phone',
                title: '手机号'
            }, {
                field: 'email',
                title: '邮箱'
            }, {
                field: 'registerTime',
                title: '注册时间',
                formatter:function (value,row,index) {
                    return dateFmt_yyMMdd_hhmmss(value);
                }
            }, {
                field: 'role',
                title: '用户组',
                formatter:function (value,row,index) {
                    var roles=row.roles;
                    if (roles.length >1){
                        var str = '';
                        for (var i = 0;i<roles.length;i++){
                            str = str + roles[0].rolename;
                            if (i !== roles.length-1){
                                str += ',';
                            }
                        }
                        return str;
                    }
                    return row.roles[0].rolename;
                }
            },{
                field: '',
                title: '操作',
                formatter:function (value,row,index) {
                    return '        <button id="btn_edit" type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#editUser" data-whatever="'+row.uid+'">\n' +
                        '           <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改\n' +
                        '        </button>'+
                        '        <button id="btn_edit" type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#editRole" data-whatever="'+row.uid+'">\n' +
                        '           <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>更改用户组\n' +
                        '        </button>';
                }
            }
        ]
    });

    $('#registerTable').bootstrapTable({
        url: '/user/getRegisterUser.do',         //请求后台的URL（*）
        method: 'get',                      //请求方式（*）
        toolbar: '#toolbar',                //工具按钮用哪个容器
        striped: true,                      //是否显示行间隔色
        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pagination: true,                   //是否显示分页（*）
        sortable: true,                     //是否启用排序
        sortName:"UID",
        sortOrder: "asc",                   //排序方式
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        pageNumber:1,                       //初始化加载第一页，默认第一页
        pageSize: 20,                       //每页的记录行数（*）
        pageList: [20, 35, 50, 100],        //可供选择的每页的行数（*）
        queryParams:  function (params) {
            //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
            var temp = {
                rows: params.limit,                         //页面大小
                page: (params.offset / params.limit) + 1,   //页码
                sort: params.sort,      //排序列名
                sortOrder: params.order ,//排位命令（desc，asc）
            };
            return temp;
        },//传递参数（*）
        // search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
        // strictSearch: true,
        showColumns: true,                  //是否显示所有的列
        showRefresh: true,                  //是否显示刷新按钮
        minimumCountColumns: 2,             //最少允许的列数
        clickToSelect: true,                //是否启用点击选中行
        height: 1000,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
        uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
        showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
        cardView: false,                    //是否显示详细视图
        detailView: false,                   //是否显示父子表
        icons:{
            paginationSwitchDown: 'glyphicon-collapse-down icon-chevron-down',
            paginationSwitchUp: 'glyphicon-collapse-up icon-chevron-up',
            refresh: 'glyphicon-refresh icon-refresh',
            toggle: 'glyphicon-list-alt icon-list-alt',
            columns: 'glyphicon-th icon-th',
            detailOpen: 'glyphicon-plus icon-plus',
            detailClose: 'glyphicon-minus icon-minus',
        },
        columns:[
            {
                checkbox: true
            }, {
                field: 'uid',
                title: 'UID'
            }, {
                field: 'username',
                title: '用户名',
            }, {
                field: 'nickname',
                title: '昵称'
            },  {
                field: 'position',
                title: '职位'
            }, {
                field: 'area',
                title: '区域'
            }, {
                field: 'department',
                title: '部门'
            }, {
                field: 'tel',
                title: '座机号'
            }, {
                field: 'phone',
                title: '手机号'
            }, {
                field: 'email',
                title: '邮箱'
            }, {
                field: 'registerTime',
                title: '注册时间',
                formatter:function (value,row,index) {
                    return dateFmt_yyMMdd_hhmmss(value);
                }
            }, {
                field: 'role',
                title: '用户组',
                formatter:function (value,row,index) {
                    var roles=row.roles;
                    if (roles.length >1){
                        var str = '';
                        for (var i = 0;i<roles.length;i++){
                            str = str + roles[0].rolename;
                            if (i !== roles.length-1){
                                str += ',';
                            }
                        }
                        return str;
                    }
                    return row.roles[0].rolename;
                }
            },{
                field: '',
                title: '操作',
                formatter:function (value,row,index) {

                    return '        <button id="btn_edit" type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#edit" onclick="passRegister('+row.uid+')">\n' +
                        '           <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>通过\n' +
                        '        </button>';
                }
            }
        ]
    })

    function getSelectData() {

        var Areas = {"null":null};
        var Departments = {"null":null};
        var Roles = {};

        var al ='';
        var dl ='';
        var rl ='';

        $.ajax({
            url: '/data/getArea.do',
            type: 'POST',
            dataType: 'JSON',
            success: function (data) {
                if (data.statusCode = 200){
                    Areas = data.areas;
                    for (var i =0;i<Areas.length;i++){

                        var one = '<option>'+Areas[i].areaName+'</option>';
                        al = al + one;
                    }
                    $('#area').append(al);
                    $('#area').selectpicker('refresh');

                }else {
                    alert("未取到地区数据！")
                }
            }
        })

        $.ajax({
            url: '/data/getRoles.do',
            type: 'POST',
            dataType: 'JSON',
            success: function (data) {
                if (data.statusCode = 200){
                    Roles = data.roles;
                    for (var i =0;i<Roles.length;i++){

                        var one = '<option>'+Roles[i].rolename+'</option>';
                        rl = rl + one;
                    }
                    $('#roles').append(rl);
                    $('#roles').selectpicker('refresh');

                }else {
                    alert("未取到用户组数据！")
                }
            }
        })

        $.ajax({
            url: '/data/getDepartment.do',
            type: 'POST',
            dataType: 'JSON',
            success: function (data) {
                if (data.statusCode = 200){
                    Departments = data.departments; //departments
                    for (var i =0;i<Departments.length;i++){

                        var one = '<option>'+Departments[i].dName+'</option>';
                        dl = dl + one;
                    }
                    $('#department').append(dl);
                    $('#department').selectpicker('refresh');

                }else {
                    alert("未取到部门数据！")
                }
            }
        })
    }

    function saveChange() {
        var user = $('#userForm').serializeArray();
        var data = convertToJson(user);
        var jsons = JSON.stringify(data);
        if (changeFlag){
            $.ajax({
                url: '/user/updatePerson.do',
                type: 'POST',
                dataType: 'JSON',
                contentType: "application/json;charset=utf-8",
                data:jsons,
                success:function (data) {
                    if (data.statusCode == 200){
                        $('#editUser').modal('hide');
                        var info = '<div class="alert alert-success " role="alert">' +
                            ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                            ''+data.msg+'</div>';
                        $('#msgDiv1').append(info);
                    }else {
                        $('#editUser').modal('hide');
                        var info = '<div class="alert alert-danger " role="alert">' +
                            ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                            ''+data.msg+'</div>';
                        $('#msgDiv1').append(info);
                    }
                    changeFlag = false;
                }
            })
        }else {
            $('#editUser').modal('hide');
            var info = '<div class="alert alert-warning " role="alert">' +
                ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                '当前数据无更改！请修改至少一项</div>';

            $('#msgDiv1').append(info);
            changeFlag = false;
        }
    }

    function ChangeRole() {
        var role = $('#rolesForm').serializeArray();
        var data = convertToJson(role);
        var jsons = JSON.stringify(data);
        if (changeFlag){
            $.ajax({
                url: '/user/changeRole.do',
                type: 'POST',
                dataType: 'JSON',
                contentType: "application/json;charset=utf-8",
                data:jsons,
                success:function (data) {
                    if (data.statusCode == 200){
                        $('#editRole').modal('hide');
                        var info = '<div class="alert alert-success " role="alert">' +
                            ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                            ''+data.msg+'</div>';
                        $('#msgDiv1').append(info);
                    }else {
                        $('#editRole').modal('hide');
                        var info = '<div class="alert alert-danger " role="alert">' +
                            ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                            ''+data.msg+'</div>';
                        $('#msgDiv1').append(info);
                    }
                    changeFlag = false;
                }
            })
        }else {
            $('#confirm').modal('hide');
            var info = '<div class="alert alert-warning " role="alert">' +
                ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                '当前数据无更改！请修改至少一项</div>';

            $('#msgDiv1').append(info);
            changeFlag = false;
        }
    }
    
    function passRegister(uid) {
        jsons ={"uid":uid};

        $.ajax({
            url: '/user/passRegister.do?uid='+uid,
            type: 'POST',
            dataType: 'JSON',
            contentType: "application/json;charset=utf-8",
            success:function (data) {
                if (data.statusCode == 200){
                    $('#confirm').modal('hide');
                    var info = '<div class="alert alert-success " role="alert">' +
                        ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                        ''+data.msg+'</div>';
                    $('#msgDiv2').append(info);
                }else {
                    $('#confirm').modal('hide');
                    var info = '<div class="alert alert-danger " role="alert">' +
                        ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                        ''+data.msg+'</div>';
                    $('#msgDiv2').append(info);
                }
            }
        })
    }


</script>
</html>