<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
          <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap-datepicker.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap-switch.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap-editable.css}">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-editable.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-switch.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-table.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-select.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-datepicker.min.css">
    <style>
        .sidebar{
            position: fixed;
            display: block;
            width: inherit;
            top: 51px;
            left: 0px;
            z-index: 1000;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
        }
        .navbar-sidebar{
            margin-right: -21px;
            margin-bottom: 20px;
            margin-left: -20px;
        }

        .navbar-nav li:hover{
            background-color: #e0e0e0;
        }

        .tableDiv {
            margin: 0px 30px;
        }
    </style>
</head>
<script th:src="@{/js/jquery.min.js}"></script>
<script  th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/publicJS.js}"></script>
<script th:src="@{/js/bootstrap-table.min.js}"></script>
<script th:src="@{/js/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
<script th:src="@{/js/BackendCanteen.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/bootstrap-table-export.js}"></script>
<script th:src="@{/js/tableExport.js}"></script>
<script th:src="@{/js/bootstrap-switch.js}"></script>
<script th:src="@{/js/bootstrap-editable.js}"></script>
<script th:src="@{/js/bootstrap-table-editable.js}"></script>
<script src="/static/js/bootstrap-switch.js"></script>
<script src="/static/js/bootstrap-editable.js"></script>
<script src="/static/js/bootstrap-table-editable.js"></script>
<script src="/static/js/tableExport.js"></script>
<script src="/static/js/bootstrap-table-export.js"></script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/bootstrap-select.min.js"></script>
<script src="/static/js/bootstrap-table.min.js"></script>
<script src="/static/js/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/js/BackendCanteen.js"></script>
<!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
        <!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
<body style="position: relative">
<nav class="nav navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand" style="width: 200px;"><span style="font-size: 20px" onclick="goToCtrlHome()">系统后台</span></div>

            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#LinkPart"
                    aria-controls="bs-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="LinkPart" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#" onclick="goToPersonCtrl();">人员管理</a></li>
                <li class="active"><a href="#" onclick="goToCanteenCtrl();">食堂管理</a></li>
                <!--<li><a href="#">文章管理</a></li>-->
                <!--<li><a href="#">物品管理</a></li>-->
                <!--<li><a href="#" onclick="goToSettingCtrl()">系统设置</a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#"  class="dropdown-toggle" data-toggle="dropdown" Role="button" aria-haspopup="true"-->
                       <!--aria-expanded="false">系统设置<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">权限设置</a></li>-->
                        <!--<li><a href="#">单位、部门设置</a></li>-->
                        <!--&lt;!&ndash;<li><a href="#">预留选项</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="name" th:text="${user.username}"></a></li>
                <li><a href="/">返回前台</a></li>
                <li><a onclick="logout()" href="#">退出</a></li>
            </ul>
        </div>
    </div>
</nav>


</div>
<div class="container" style="height: 768px;width: 100%;padding-left: 10px">
    <div class="row" style="height: inherit" >
        <div class="col-md-2 col-sm-2 col-xs-2 visible-md-block visible-lg-block">
            <div class="nav sidebar">
                <div class="container-fluid">
                    <div id="ToolPart" class="collapse navbar-collapse navbar-spy">
                        <ul class="nav navbar-sidebar">
                            <li class="active"><a href="#orderList">查看订餐情况</a></li>
                            <li><a href="#generateNamelist">订餐名单</a></li>
                            <li><a href="#orderRecode">查看订餐记录</a></li>
                            <!--<li><a href="#canteenStatistics">每月统计</a></li>-->
                            <li><a href="#menu">菜单设置</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div  class="col-md-10 col-sm-10 col-xs-10 " style="border-left: gainsboro solid 1px ;">
            <div data-spy="scroll" data-target=".navbar-spy" style="position: relative;height: auto">
                <div id="orderList" class="row ctrlCompent">
                    <div  class="page-header col-md-12 col-sm-12 col-xs-12">
                        <h1>查看订餐情况 <small>Orders</small></h1>
                    </div>
                    <div id="msgDiv1"class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1px"></div>
                    <div>
                        <div class="panel panel-default" style="margin: 150px 30px 10px 30px">
                            <div class="panel-heading">搜索选项</div>
                            <div class="panel-body">
                                <ul class="list-inline">
                                    <li>
                                        <div class="queryComponent">
                                            <label for="date1">日期：</label>
                                            <input type="text" class="datepicker input-sm form-control" id="date1" name="date">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="queryComponent">
                                            <label for="personName1">姓名：</label>
                                            <input type="text" class="input-sm form-control" id="personName1" name="personName">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="queryComponent">
                                            <button class="btn btn-default" onclick="clearOrderSelection()">清空</button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="queryComponent">
                                            <button class="btn btn-default" onclick="queryOrder()">查询</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tableDiv" >
                        <table id="orderTable" ></table>
                    </div>
                </div>
                <div id="generateNamelist" class="row ctrlCompent">
                    <div  class="page-header col-md-12 col-sm-12 col-xs-12">
                        <h1>订餐名单 <small>Orders Information</small></h1>
                    </div>
                    <div id="msgDiv5"class="col-md-12 col-sm-12 col-xs-12" style="height: 80px"></div>
                    <div id="tableTitle"class="col-md-12 col-sm-12 col-xs-12" style="height: 30px"></div>
                    <div class="tableDiv">
                        <form class="form-inline" id="querySelection3">
                            <div id="generateSelection" class="input-group" style="width: 280px;text-align: left">
                                <input id="namelistDate" class="form-control datepicker" name="generateDate">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" onclick="queryNamelist(1)">早餐</button>
                                    <button class="btn btn-default" onclick="queryNamelist(2)">午餐</button>
                                    <button class="btn btn-default" onclick="queryNamelist(3)">晚餐</button>
                                </span>
                            </div>
                        </form>
                        <table id="namelistTable"></table>
                    </div>
                </div>
                <div id="orderRecode" class="row ctrlCompent">
                    <div  class="page-header col-md-12 col-sm-12 col-xs-12">
                        <h1>查看订餐记录 <small>All Record</small></h1>
                    </div>
                    <div id="msgDiv2"class="col-md-12 col-sm-12 col-xs-12" style="height: auto"></div>
                    <div>
                        <div>
                            <div class="panel panel-default" style="margin: 150px 30px 10px 30px">
                                <div class="panel-heading">搜索选项</div>
                                <div class="panel-body">
                                    <ul class="list-inline">
                                        <li>
                                            <div class="queryComponent">
                                                <label for="date2">日期：</label>
                                                <input type="text" class="datepicker input-sm form-control" id="date2" name="date">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="queryComponent">
                                                <label for="personName2">姓名：</label>
                                                <input type="text" class="input-sm form-control" id="personName2" name="personName">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="queryComponent form-group">
                                                <button class="btn btn-default" onclick="clearRecordSelection()">清空</button>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="queryComponent form-group">
                                                <button class="btn btn-default" onclick="queryRecord()">查询</button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div id="recordToolbar" class="input-group" style="width: 280px;text-align: left">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" onclick="submitDefaultComplete()">默认录入</button>
                                    <button class="btn btn-default" onclick="submitComplete()">提交修改</button>
                                </span>
                            </div>

                            <div class="tableDiv" >
                                <table id="recordTable"></table>
                            </div>
                        </div>

                    </div>
                </div>
                <!--<div id="canteenStatistics" class="row ctrlCompent">-->
                    <!--<div  class="page-header col-md-12 col-sm-12 col-xs-12">-->
                        <!--<h1>每月统计 <small>Statistics</small></h1>-->
                    <!--</div>-->
                    <!--<div id="msgDiv3"class="col-md-12 col-sm-12 col-xs-12" style="height: auto"></div>-->
                    <!--<div class="tableDiv">-->
                        <!--<table id="statisticsTable"></table>-->
                    <!--</div>-->
                <!--</div>-->
                <div id="menu" class="row ctrlCompent">
                    <div  class="page-header col-md-12 col-sm-12 col-xs-12">
                        <h1>菜单设置 <small>Menu</small></h1>
                    </div>
                    <div id="msgDiv4"class="col-md-12 col-sm-12 col-xs-12" style="height: auto"></div>
                    <div class="tableDiv">
                        <input type="checkbox" id="menuSwitch">
                        <table id="menuTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    var typeFlag =0;
    var menuFlag = 1;

    $(function () {
        $('#orderTable').bootstrapTable({
                url: '/canteen/getBackendOrders.do',         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortName:"co.O_TIME",
                sortOrder: "asc",                   //排序方式
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber:1,                       //初始化加载第一页，默认第一页
                pageSize: 20,                       //每页的记录行数（*）
                pageList: [20, 35, 50, 100],        //可供选择的每页的行数（*）
                queryParams:  function (params) {
                    //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
                    var temp = {
                        rows: params.limit,                         //页面大小
                        page: (params.offset / params.limit) + 1,   //页码
                        sort: params.sort,      //排序列名
                        sortOrder: params.order, //排位命令（desc，asc）
                        personName:$('#personName1').val(),
                        date:$('#date1').val()
                    };
                    return temp;
                },//传递参数（*）
                // search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                // strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                height: 1000,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                icons:{
                    paginationSwitchDown: 'glyphicon-collapse-down icon-chevron-down',
                    paginationSwitchUp: 'glyphicon-collapse-up icon-chevron-up',
                    refresh: 'glyphicon-refresh icon-refresh',
                    toggle: 'glyphicon-list-alt icon-list-alt',
                    columns: 'glyphicon-th icon-th',
                    detailOpen: 'glyphicon-plus icon-plus',
                    detailClose: 'glyphicon-minus icon-minus'
                },
                columns:[
                    [
                        {
                            field: 'coid',
                            title: '订餐编号',
                            rowspan:2,
                            align:'center'
                        },{
                        field: '',
                        title: '早餐',
                        colspan:2,
                        align:'center'
                    },{
                        field: '',
                        title: '午餐',
                        colspan:2,
                        align:'center'
                    },{
                        field: '',
                        title: '晚餐',
                        colspan:2,
                        align:'center'
                    },{
                        field: 'oTime',
                        title: '预定日期',
                        rowspan:2,
                        formatter:function (value,row,index) {
                            return dateFmt_yyMMdd(row.oTime);
                        },
                        align:'center'},{
                        field: 'user',
                        title: '订餐人',
                        rowspan:2,
                        formatter:function (value,row,index) {
                            return row.user.username;
                        },
                        align:'center'}
                    ],[
                        {
                            field: 'breakfast',
                            title: '订餐情况',
                            formatter:function (value,row,index) {
                                if (row.breakfast === 0){
                                    return '<span class="glyphicon glyphicon-remove"></span>';
                                }else {
                                    return '<span class="glyphicon glyphicon-ok"></span>';
                                }
                            },
                            align:'center'
                        },{
                            field: 'bfMany',
                            title: '数量/份',
                            align:'center'
                        },{
                            field: 'lunch',
                            title: '订餐情况',
                            formatter:function (value,row,index) {
                                if (row.lunch === 0){
                                    return '<span class="glyphicon glyphicon-remove"></span>';
                                }else {
                                    return '<span class="glyphicon glyphicon-ok"></span>';
                                }
                            },
                            align:'center'
                        },{
                            field: 'lMany',
                            title: '数量/份',
                            align:'center'
                        },{
                            field: 'dinner',
                            title: '晚餐',
                            formatter:function (value,row,index) {
                                if (row.dinner === 0){
                                    return '<span class="glyphicon glyphicon-remove"></span>';
                                }else {
                                    return '<span class="glyphicon glyphicon-ok"></span>';
                                }
                            },
                            align:'center'
                        },{
                            field: 'dMany',
                            title: '数量/份',
                            align:'center'
                        }
                    ]
                ]
            });
        $('#recordTable').bootstrapTable({
            url: '/CR/B_CanteenRecord.do',         //请求后台的URL（*）
            method: 'get',                      //请求方式（*）
            toolbar: '#recordToolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: true,                     //是否启用排序
            sortName:"O_TIME",
            sortOrder: "desc",                   //排序方式
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber:1,                       //初始化加载第一页，默认第一页
            pageSize: 20,                       //每页的记录行数（*）
            pageList: [20, 35, 50, 100],        //可供选择的每页的行数（*）
            queryParams:  function (params) {
                //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
                var temp = {
                    rows: params.limit,                         //页面大小
                    page: (params.offset / params.limit) + 1,   //页码
                    sort: params.sort,      //排序列名
                    sortOrder: params.order ,//排位命令（desc，asc）
                    personName:$('#personName2').val(),
                    date:$('#date2').val()
                };
                return temp;
            },//传递参数（*）
            // search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            // strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: false,                //是否启用点击选中行
            height: 1000,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            icons:{
                paginationSwitchDown: 'glyphicon-collapse-down icon-chevron-down',
                paginationSwitchUp: 'glyphicon-collapse-up icon-chevron-up',
                refresh: 'glyphicon-refresh icon-refresh',
                toggle: 'glyphicon-list-alt icon-list-alt',
                columns: 'glyphicon-th icon-th',
                detailOpen: 'glyphicon-plus icon-plus',
                detailClose: 'glyphicon-minus icon-minus',
            },
            columns:[
                [
                    {
                        rowspan:2,
                        colspan:1,
                        checkbox: true,
                        align:'center'
                    },{
                        rowspan:2,
                        colspan:1,
                        field: 'crid',
                        title: 'CRID',
                        align:'center'
                    },{
                    colspan:7,
                    rowspan:1,
                    field: '',
                    title: '订餐情况',
                    align:'center'
                }, {
                    colspan:4,
                    rowspan:1,
                    field: '',
                    title: '用餐情况',
                    align:'center'
                },{
                    rowspan:2,
                    colspan:1,
                    field: 'co.user.username',
                    title: '订餐用户',
                    formatter:function (value,row,index) {
                        return row.co.user.username;
                    },
                    align:'center'
                },{
                    rowspan:2,
                    colspan:1,
                    field: 'co.oTime',
                    title: '记录日期',
                    formatter:function (value,row,index) {
                        return dateFmt_yyMMdd(row.co.oTime);
                    },
                    align:'center'
                }
                ],[
                    {
                        rowspan:1,
                        colspan:1,
                        field: 'coid',
                        title: 'C0ID',
                        align:'center'
                    },  {
                        colspan:1,
                        rowspan:1,
                        field: 'co.breakfast',
                        title: '早餐',
                        formatter:function (value,row,index) {
                            if (row.co.breakfast === 0){
                                return '<span class="glyphicon glyphicon-remove"></span>';
                            }else {
                                return '<span class="glyphicon glyphicon-ok"></span>';
                            }
                        },
                        align:'center'
                    }, {
                        colspan:1,
                        rowspan:1,
                        field: 'co.bfMany',
                        title: '早餐份数',
                        formatter:function (value,row,index) {
                            return row.co.bfMany;
                        },
                        align:'center'
                    },  {
                        colspan:1,
                        rowspan:1,
                        field: 'co.lunch',
                        title: '午餐',
                        formatter:function (value,row,index) {
                            if (row.lunch === 0){
                                return '<span class="glyphicon glyphicon-remove"></span>';
                            }else {
                                return '<span class="glyphicon glyphicon-ok"></span>';
                            }
                        },
                        align:'center'
                    }, {
                        colspan:1,
                        rowspan:1,
                        field: 'co.lMany',
                        title: '午餐份数',
                        formatter:function (value,row,index) {
                            return row.co.lMany;
                        },
                        align:'center'
                    }, {
                        colspan:1,
                        rowspan:1,
                        field: 'co.dinner',
                        title: '晚餐',
                        formatter:function (value,row,index) {
                            if (row.co.dinner === 0){
                                return '<span class="glyphicon glyphicon-remove"></span>';
                            }else {
                                return '<span class="glyphicon glyphicon-ok"></span>';
                            }
                        },
                        align:'center'
                    }, {
                        colspan:1,
                        rowspan:1,
                        field: 'co.dMany',
                        title: '晚餐份数',
                        formatter:function (value,row,index) {
                            return row.co.dMany;
                        },
                        align:'center'
                    },{
                        rowspan:1,
                        colspan:1,
                        field: 'ccid',
                        title: 'CCID',
                        align:'center'
                    },{
                        colspan:1,
                        rowspan:1,
                        field: 'cc.breakfast',
                        title: '早餐',
                        formatter:function (value,row,index) {
                            if (row.cc.breakfast === null){
                                return '无信息'
                            }else {
                                if (row.cc.breakfast === 0){
                                    return '否';
                                }else {
                                    return '结';
                                }
                            }
                        },
                        align:'center',
                        width:80,
                        editable:{
                            title:'录入信息',
                            type:'select',
                            source:[{value:1,text:'结'},{value:0,text:'否'}],
                            display:function (value) {
                                switch (value){
                                    case '结':$(this).html(value+'  <span class="glyphicon glyphicon-ok"></span>');break;
                                    case '否':$(this).html(value+'  <span class="glyphicon glyphicon-remove"></span>');break;
                                }
                            }
                        }
                    },{
                        colspan:1,
                        rowspan:1,
                        field: 'cc.lunch',
                        title: '午餐',
                        formatter:function (value,row,index) {
                            if (row.cc.lunch === null){
                                return '无信息'
                            }else {
                                if (row.cc.lunch === 0){
                                    return '否';
                                }else {
                                    return '结';
                                }
                            }
                        },
                        align:'center',
                        width:80,
                        editable:{
                            title:'录入信息',
                            type:'select',
                            source:[{value:1,text:'结'},{value:0,text:'否'}],
                            display:function (value) {
                                switch (value){
                                    case '结':$(this).html(value+'  <span class="glyphicon glyphicon-ok"></span>');break;
                                    case '否':$(this).html(value+'  <span class="glyphicon glyphicon-remove"></span>');break;
                                }
                            }
                        }
                    },{
                        colspan:1,
                        rowspan:1,
                        field: 'cc.dinner',
                        title: '晚餐',
                        formatter:function (value,row,index) {
                            if (row.cc.dinner === null){
                                return '无信息'
                            }else {
                                if (row.cc.dinner === 0){
                                    return '否';
                                }else {
                                    return '结';
                                }
                            }
                        },
                        align:'center',
                        width:80,
                        editable:{
                            title:'录入信息',
                            type:'select',
                            source:[{value:1,text:'结'},{value:0,text:'否'}],
                            display:function (value) {
                                switch (value){
                                    case '结':$(this).html(value+'  <span class="glyphicon glyphicon-ok"></span>');break;
                                    case '否':$(this).html(value+'  <span class="glyphicon glyphicon-remove"></span>');break;
                                }
                            }
                        }
                    }
                ]
            ],
            onPostHeader:function () {
                // $('.editable').editable({
                //     display:function (value) {
                //         console.log(value);
                //     }
                // });
            },
            onEditableSave: function (field, row, oldValue, $el) {
                $.ajax({
                    type: "post",
                    url: "/CR/saveEdit",
                    data: {"list":JSON.stringify(row)},
                    success: function (data, status) {
                        if (status == "success") {
                            if (data.statusCode === 500){
                                alert(data.msg);
                                return false;
                            }
                            $('#recordTable').bootstrapTable('refresh');
                        }
                    },
                    error: function () {
                        alert("服务器端发生错误");
                    },
                    complete: function () {

                    }

                });
            }
        });
        $('#namelistTable').bootstrapTable({
            url: '/canteen/getbackendOrdersNamelist.do',         //请求后台的URL（*）
            method: 'get',                      //请求方式（*）
            toolbar: '#generateSelection',                //工具按钮用哪个容器
            toolbarAlign:'left',
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            // pagination: false,                   //是否显示分页（*）
            sortable: true,                     //是否启用排序
            sortName:"co.O_TIME",
            sortOrder: "asc",                   //排序方式
            // sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber:1,                       //初始化加载第一页，默认第一页
            // pageSize: 20,                       //每页的记录行数（*）
            // pageList: [20, 35, 50, 100],        //可供选择的每页的行数（*）
            queryParams:  function (params) {
                //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
                var temp = {
                    // rows: params.limit,                         //页面大小
                    page: 1,   //页码
                    sort: params.sort,      //排序列名
                    sortOrder: params.order, //排位命令（desc，asc）
                    typeFlag:typeFlag,
                    generateDate:$('#namelistDate').val()
                };
                return temp;

            },//传递参数（*）
            // search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            // strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            responseHandler:function (res) {
                return res;
            },
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            icons:{
                paginationSwitchDown: 'glyphicon-collapse-down icon-chevron-down',
                paginationSwitchUp: 'glyphicon-collapse-up icon-chevron-up',
                refresh: 'glyphicon-refresh icon-refresh',
                toggle: 'glyphicon-list-alt icon-list-alt',
                columns: 'glyphicon-th icon-th',
                detailOpen: 'glyphicon-plus icon-plus',
                detailClose: 'glyphicon-minus icon-minus',
                export: 'glyphicon-export icon-share'
            },
            columns:[
                {
                    field: 'coid',
                    title: '订餐编号',

                    align:'center'
                },{
                    field: 'user',
                    title: '订餐人',
                    formatter:function (value,row,index) {
                        return row.user.username;
                    },
                    align:'center'
                }, {
                    field: 'many',
                    title: '数量/份',
                    align:'center',
                    formatter:function (value,row,index) {
                        var bf = row.bfMany;
                        var l = row.lMany;
                        var d = row.dMany;

                        return bf===1?bf:(l===1?l:d);
                    },
                    align:'center'
                },{
                    field: 'oTime',
                    title: '预定日期',
                    formatter:function (value,row,index) {
                        return dateFmt_yyMMdd(row.oTime);
                    },
                    align:'center'
                }
            ],
            showExport:true,
            exportDataType:'all',
            exportTypes:['json', 'xml', 'excel']

        });
        $('#menuTable').bootstrapTable({
            url: '/menu/status',         //请求后台的URL（*）
            method: 'get',                      //请求方式（*）
            toolbar: '#menuSwitch',                //工具按钮用哪个容器
            toolbarAlign:'left',
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            // pagination: false,                   //是否显示分页（*）
            sortable: true,                     //是否启用排序
            sortName:"",
            sortOrder: "asc",                   //排序方式
            // sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber:1,                       //初始化加载第一页，默认第一页
            // pageSize: 20,                       //每页的记录行数（*）
            // pageList: [20, 35, 50, 100],        //可供选择的每页的行数（*）
            queryParams:  function (params) {
                //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
                var temp = {
                    // rows: params.limit,                         //页面大小
                    menuFlag:menuFlag,
                };
                return temp;

            },//传递参数（*）
            // search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            // strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            responseHandler:function (res) {
                return res.rows;
            },
            uniqueId: "CMID",                     //每一行的唯一标识，一般为主键列
            showToggle:false,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            icons:{
                paginationSwitchDown: 'glyphicon-collapse-down icon-chevron-down',
                paginationSwitchUp: 'glyphicon-collapse-up icon-chevron-up',
                refresh: 'glyphicon-refresh icon-refresh',
                toggle: 'glyphicon-list-alt icon-list-alt',
                columns: 'glyphicon-th icon-th',
                detailOpen: 'glyphicon-plus icon-plus',
                detailClose: 'glyphicon-minus icon-minus',
                export: 'glyphicon-export icon-share'
            },
            columns:[
                {
                    field: 'timeZone',
                    title: '时间',
                    align:'center',
                    formatter:function (value,row,index) {
                        switch (row.cmType){
                            case 1:return '早餐';break;
                            case 2:return '午餐';break;
                            case 3:return '晚餐';break;
                            default:return '';break;
                        }
                    }
                },{
                    field: 'mon',
                    title: '周一',
                    align:'center'
                }, {
                    field: 'tue',
                    title: '周二',
                    align:'center'
                },{
                    field: 'wed',
                    title: '周三',
                    align:'center'
                },{
                    field: 'thu',
                    title: '周四',
                    align:'center'
                },{
                    field: 'fri',
                    title: '周五',

                    align:'center'
                },{
                    field: 'sat',
                    title: '周六',
                    align:'center'
                },{
                    field: 'sun',
                    title: '周日',
                    align:'center'
                }
            ],
            showExport:true,
            exportDataType:'all',
            exportTypes:['json', 'xml', 'excel'],
            onLoadSuccess:function (data) {
                $('#menuTable').bootstrapTable('mergeCells',{
                    index: 0,
                    field: 'timeZone',
                    rowspan: 3
                });
                $('#menuTable').bootstrapTable('mergeCells',{
                    index: 3,
                    field: 'timeZone',
                    rowspan: 4
                });
                $('#menuTable').bootstrapTable('mergeCells',{
                    index: 7,
                    field: 'timeZone',
                    rowspan: 3
                });
            }

        });

        $('.datepicker').datepicker({
            format: "yyyy-mm-dd",
            daysOfWeekHighlighted: "0,6",
            autoclose:true
        });
        $('#menuSwitch').bootstrapSwitch({
            onText:'本周',
            offText:'下周',
            onSwitchChange:function (event, state) {
                if (state){
                    menuFlag = 1;
                }else {
                    menuFlag = 0;
                }
                $('#menuTable').bootstrapTable('refresh');
            },
            state:true
        });




    });


    function clearOrderSelection() {
        $('#date1').val('');
        $('#personName1').val('');
    }
    function clearRecordSelection() {
        $('#date2').val('');
        $('#personName2').val('');
    }

    function submitDefaultComplete() {
        var submitData = $('#recordTable').bootstrapTable('getSelections');
        var json = JSON.stringify(submitData);

        $.ajax({
            url: '/CR/defaultEdit',
            type: 'POST',
            dataType: 'JSON',
            contentType: "application/json;charset=utf-8",
            data: json,
            success: function (data) {

                if (data.stateCode === 404) {
                    $('#recordTable').bootstrapTable('refresh');
                }
            }
        })
    }

    function submitComplete() {
        var submitData = $('#recordTable').bootstrapTable('getSelections');
        var json = JSON.stringify(submitData);

        $.ajax({
            url: '/CR/saveEdit',
            type: 'POST',
            dataType: 'JSON',
            contentType: "application/json;charset=utf-8",
            data: json,
            success: function (data) {

                if (data.stateCode === 404) {
                    $('#recordTable').bootstrapTable('refresh');
                }
            }
        })
    }



    function editableSwitch() {
        var flag = false;
        $('.ediable').editable({
            disable:!flag
        });
    }
    function queryNamelist(type) {
        var date = $('#namelistDate').val();
        var $table = $('#namelistTable');
        var json = {'generateDate':date,'typeFlag':type};
        var tabData={};
        typeFlag = type;
        var title ='';

        switch (type){
            case 1:title = '早餐';break;
            case 2:title = '中餐';break;
            case 3:title = '晚餐';break;
        }

        $('#tableTitle').html('<h3>'+title+'</h3>')

        $.ajax({
            url:'/canteen/getbackendOrdersNamelist.do?generateDate='+date+'&typeFlag='+type+'',
            dataType: 'JSON',
            contentType: "application/json;charset=utf-8",
            type:'post',
            success:function (data) {
                tabData=data.rows;

                $table.bootstrapTable('load', tabData);

            }
        })
    }

    function queryOrder() {
        var $table =$('#orderTable');

        $table.bootstrapTable('refresh');
    }
    
    function queryRecord() {
        var $table =$('#recordTable');

        $table.bootstrapTable('refresh');
    }

</script>
</html>